@import url("./shared.css");
.container
{
    width: 100vw;
    height: 100%;
    
}
    .header 
    {
    }
        .pageTitle
        {
            font-size: 40px;
            font-family: "Satoshi-Variable";
            text-align: center;
        }
    .main
    {
       padding: 10px; 
       display: grid;
       grid-template-areas: 
       "service1 service2 service3"
       "service4 service5 service6"
       ;
       grid-template-rows: repeat(2,1fr);
       grid-template-columns:repeat(3,1fr)  ;
       height: 90%;
    }
        .service
        {
            margin: 5px;
            background-color: var(--whiteGray);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
        }
            .iconeContainer
            {
                width: 50px;
                height: 50px;
                background-color: var(--primaryColor);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .iconeContainer i
            {
                font-size: var(--textSize4);
                color: #fff;
             
            }
               
            .serviceTitle
            {
                font-size: var(--textSize3);
                font-weight: 500;
            }
            .serviceText
            {
                font-size: var(--textSize2);
            }
    .main .service:first-child
    {
        grid-area: service1;
    }
    .main .service:nth-child(2)
    {
        grid-area: service2;
    }
    .main .service:nth-child(3)
    {
        grid-area: service3;
    }
    .main .service:nth-child(4)
    {
        grid-area: service4;
    }
    .main .service:nth-child(5)
    {
        grid-area: service5;
    }
    .main .service:nth-child(6)
    {
        grid-area: service6;
    }
       
        