.pageTitle
{
    font-size:45px;
    text-align: center;
    font-weight: 500;
}
.mainContent
{
    display: flex;  
    width: 100%;
    height:90%;  
    column-gap: 2px;
    justify-content: center;
}
    .week
    {
        width: 25%;
        height: 100%;
        display: flex;
        column-gap: 5px;
        position: relative;
        
    }
        .subWeek
        {
            width: 50%;
            height: 100%;
            border-left: 1px dashed gray;
            padding: 10px;
         
        }
            .subWeekTitle
            {
                font-weight: 500;
            }
    .weekTask
    {
        height: 100px;
        width: 350px;
        display: flex;
        column-gap: 5px;
        align-items: center;
        position: absolute ;
        background-color: #fff !important;
    }
        .taskBorder
        {
            width: 5px;
            height: 75px;
            background-color: var(--primaryColor);
            border-radius: 3px;
        }
            .taskTitle
            {
                font-weight: 500;
                text-transform: capitalize;
                background-color: #fff;
                padding: 3px;
                color:red;
            }
            .taskText
            {
                color: rgb(149, 149, 149);
                background-color: #fff;
            }

            .week:nth-child(2) .subWeek .weekTask
            {
                top: 175px;
                left: -50px;
            }
            .week:nth-child(3) .subWeek .weekTask
            {
                top: 250px;
                left: -25px;
            }
            .week:last-child .subWeek .weekTask
            {
                top: 350px;
                left: -50px;
            }
            .pageTitle
            {
                animation-name: colorChange;
                animation-duration: 1s;

                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            @keyframes colorChange {
                0%
                {
                    color: #000;
                }
                25%
                {
                    color:#696bff;
                }
                50%
                {
                    color: #6163ee;
                }
                75%
                {
                    color: #5456c9;
                }
                100%
                {
                    color: #4b4db8;
                }
            }
